<head>
  <meta charset="utf-8">
  <script crossorigin  src="https://unpkg.com/react@16.2.0/umd/react.production.min.js"></script>
  <script crossorigin  src="https://unpkg.com/react-dom@16.2.0/umd/react-dom.production.min.js"></script>
  <script crossorigin  src="https://unpkg.com/create-react-class@15.6.3/create-react-class.min.js"></script>

  <script crossorigin  src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
</head>
<body>
    <div id="root"></div>
</body>
<script type="text/babel">
	const reactElement = React.Component

	let todos = [{
			name: "Bangun",
			completed: true
		},
		{
			name: "Makan",
			completed: true
		},
		{
			name: "Jalan-jalan",
			completed: false
		},  
		{
			name: "Kencan",
			completed: false
	}]

	class Todo extends reactElement {
		render() {
			let isTaskCompleted = this.props.todo.completed
			return(
				<li style={{ textDecoration: isTaskCompleted? "line-through": "none"}}> { this.props.todo.name } { isTaskCompleted? " ✔️": " ❌ " } </li>
			)
		}
	}
	
	class TodoInput extends reactElement {
		render() {
			return(
				<div>
					<form onSubmit={ this.props.addTodo }>
						<input onChange={ this.props.onAddTodoChange } value={ this.props.value } />
						<button type="submit"> Tambah Todo </button>
					</form>
				</div>
			)
		}
	}

	class TodoList extends reactElement {
		render() {
			let listOfTodoItems = this.props.todos.map((todo, index) => {
			  return <Todo key={index} todo={ todo } />
			})

			return(
				<ul> { listOfTodoItems } </ul>
			)
		}			
	}

	class TodoContainer extends reactElement {
		constructor() {
			super()
			this.state = {
				todos: todos,
				form: {}
			}
		}
		onAddTodoChange(ev){      
		  this.setState({form:{name: ev.target.value, completed:false}});
		}
		
		addTodo(ev){
		  ev.preventDefault()

		  if(this.state.form && !this.state.form.name) {
		  	alert("diisi dulu, su!")
		  	return
		  }
		  
		  var todos = Object.assign([], this.state.todos)
		  todos.push(this.state.form)
		  
		  this.setState({form: {}, todos});
		}

	    render() {
	        return (
	        	<div>
	        		<TodoInput value={ this.state.form.name || "" } onAddTodoChange={ this.onAddTodoChange.bind(this) } addTodo={ this.addTodo.bind(this) } />
	        		<TodoList { ...this.state } />
	        	</div>
	        );
	    }
	}
	ReactDOM.render(
	    <TodoContainer />,
	    document.getElementById('root')
	);
</script>
